@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  height: 100%;
}

body {
  margin-top: 120px !important;
  background:  rgb(20, 22, 60);
  background-attachment: fixed;

}
