@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-arrow {
  height: 100%;
  background-color: #ffffff12;
  width: 20px;
}

.slick-prev {
  left: 0px;
  z-index: 100;
}
.slick-next {
  right: 0px;
  z-index: 100;
}
