.container {
  margin-top: 100;
}

.text {
  text-align: "center";
}

.button {
  height: 60;
  margin: 10;
  justify-content: "center";
  align-items: "center";
  background-color: "#0b7eff";
}

.buttonText {
  color: "white";
}

.mainContent {
  margin: 10;
}
