@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
  width: 100%;
}

.slick-prev {
  left: 0px;
  z-index: 100;
}
.slick-next {
  right: 0px;
  z-index: 100;
}
